In [1]:
#Import Packages
import pandas as pd
import datetime as dt
import numpy as np
import jdcal as jd

# Read Data Files

In [2]:
#Read Data From CSV Files
outputs = pd.read_csv("../Data/us-counties.csv")
counties = pd.read_csv("../Data/counties.csv")
deaths_timeseries = pd.read_csv("../Data/deaths_timeseries.csv")
grocery_visits = pd.read_csv("../Data/grocery_visits.csv")
healthcare_visits = pd.read_csv("../Data/healthcare_visits.csv")
hospital_visits = pd.read_csv("../Data/hospital_visits.csv")
infections_timeseries = pd.read_csv("../Data/infections_timeseries.csv")
interventions = pd.read_csv("../Data/interventions.csv")
poi_visits = pd.read_csv("../Data/poi_visits.csv")

In [3]:
#Show Outputs
outputs

              date      county       state     fips  cases  deaths
0        1/21/2020   Snohomish  Washington  53061.0      1       0
1        1/22/2020   Snohomish  Washington  53061.0      1       0
2        1/23/2020   Snohomish  Washington  53061.0      1       0
3        1/24/2020        Cook    Illinois  17031.0      1       0
4        1/24/2020   Snohomish  Washington  53061.0      1       0
...            ...         ...         ...      ...    ...     ...
667388  10/25/2020  Sweetwater     Wyoming  56037.0    462       2
667389  10/25/2020       Teton     Wyoming  56039.0    747       1
667390  10/25/2020       Uinta     Wyoming  56041.0    431       3
667391  10/25/2020    Washakie     Wyoming  56043.0    144       7
667392  10/25/2020      Weston     Wyoming  56045.0    127       0

[667393 rows x 6 columns]

In [4]:
#Show Counties Data
counties

,FIPS,State,Area_Name,Rural-urban_Continuum Code_2013,Urban_Influence_Code_2013,Economic_typology_2015,POP_ESTIMATE_2018,N_POP_CHG_2018,Births_2018,Deaths_2018,...,Total number of UCR (Uniform Crime Report) Index crimes excluding arson.,Total number of UCR (Uniform Crime Report) index crimes reported including arson,MURDER,RAPE,ROBBERY,Number of AGGRAVATED ASSAULTS,BURGLRY,LARCENY,MOTOR VEHICLE THEFTS,ARSON
0,0,US,United States,NaN,NaN,NaN,327167434,2020313.0,3855500.0,2814013.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1000,AL,Alabama,NaN,NaN,NaN,4887871,12751.0,57216.0,53425.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1001,AL,Autauga County,2.0,2.0,0.0,55601,158.0,655.0,532.0,...,139.0,1765.0,3.0,15.0,34.0,87.0,447.0,1233.0,85.0,108.0
3,1003,AL,Baldwin County,3.0,2.0,5.0,218022,5403.0,2254.0,2228.0,...,446.0,4988.0,8.0,30.0,76.0,332.0,967.0,3829.0,192.0,31.0
4,1005,AL,Barbour County,6.0,6.0,3.0,24881,-277.0,261.0,324.0,...,48.0,474.0,0.0,4.0,8.0,36.0,90.0,362.0,21.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3268,72145,PR,Vega Baja Municipio Puerto Rico,1.0,1.0,NaN,50185,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3269,72147,PR,Vieques Municipio Puerto Rico,7.0,12.0,NaN,8364,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3270,72149,PR,Villalba Municipio Puerto Rico,2.0,2.0,NaN,21476,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3271,72151,PR,Yabucoa Municipio Puerto Rico,1.0,1.0,NaN,32158,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3272,72153,PR,Yauco Municipio Puerto Rico,2.0,2.0,NaN,33860,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
#Show Deaths Time Series
deaths_timeseries

,FIPS,Combined_Key,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,...,3/19/20,3/20/20,3/21/20,3/23/20,3/24/20,3/25/20,3/26/20,3/27/20,3/28/20,3/29/20
0,1001,Autauga - Alabama - US,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1003,Baldwin - Alabama - US,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2,1005,Barbour - Alabama - US,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1007,Bibb - Alabama - US,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1009,Blount - Alabama - US,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3137,56037,Sweetwater - Wyoming - US,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3138,56039,Teton - Wyoming - US,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3139,56041,Uinta - Wyoming - US,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3140,56043,Washakie - Wyoming - US,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3141,56045,Weston - Wyoming - US,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [6]:
#Show Grocery Visits
grocery_visits

,FIPS,3 / 1 / 2020,3 / 2 / 2020,3 / 3 / 2020,3 / 4 / 2020,3 / 5 / 2020,3 / 6 / 2020,3 / 7 / 2020,3 / 8 / 2020,3 / 9 / 2020,...,3 / 12 / 2020,3 / 13 / 2020,3 / 14 / 2020,3 / 15 / 2020,3 / 16 / 2020,3 / 17 / 2020,3 / 18 / 2020,3 / 19 / 2020,3 / 20 / 2020,3 / 21 / 2020
0,1001,236.0,253.0,213.0,180.0,207.0,234.0,273.0,228.0,225.0,...,267.0,418.0,368.0,300.0,304.0,291.0,281.0,286.0,270.0,159.0
1,1003,1440.0,1720.0,1700.0,1505.0,1582.0,1997.0,1864.0,1759.0,1930.0,...,2011.0,2426.0,2386.0,2379.0,2594.0,2114.0,2002.0,1789.0,1320.0,806.0
2,1005,149.0,162.0,184.0,133.0,173.0,204.0,204.0,148.0,163.0,...,166.0,253.0,227.0,199.0,219.0,192.0,198.0,195.0,189.0,104.0
3,1007,46.0,40.0,50.0,54.0,38.0,58.0,63.0,38.0,43.0,...,42.0,73.0,55.0,41.0,43.0,48.0,43.0,51.0,36.0,15.0
4,1009,178.0,192.0,223.0,240.0,172.0,244.0,192.0,142.0,161.0,...,201.0,279.0,214.0,142.0,224.0,215.0,182.0,205.0,162.0,101.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3216,56037,69.0,72.0,58.0,56.0,72.0,76.0,83.0,54.0,82.0,...,94.0,113.0,81.0,75.0,89.0,82.0,65.0,91.0,65.0,21.0
3217,56039,141.0,177.0,148.0,169.0,161.0,185.0,176.0,166.0,173.0,...,219.0,231.0,225.0,165.0,175.0,169.0,109.0,112.0,75.0,49.0
3218,56041,104.0,111.0,121.0,91.0,120.0,153.0,145.0,115.0,122.0,...,155.0,198.0,199.0,121.0,154.0,126.0,149.0,132.0,114.0,90.0
3219,56043,136.0,144.0,125.0,142.0,114.0,140.0,143.0,115.0,117.0,...,141.0,238.0,188.0,134.0,167.0,168.0,153.0,139.0,119.0,77.0
3220,56045,9.0,16.0,16.0,10.0,11.0,9.0,7.0,16.0,18.0,...,15.0,16.0,12.0,8.0,13.0,27.0,28.0,11.0,11.0,12.0

In [7]:
#Show Healthcare Visits
healthcare_visits

,FIPS,3 / 1 / 2020,3 / 2 / 2020,3 / 3 / 2020,3 / 4 / 2020,3 / 5 / 2020,3 / 6 / 2020,3 / 7 / 2020,3 / 8 / 2020,3 / 9 / 2020,...,3 / 12 / 2020,3 / 13 / 2020,3 / 14 / 2020,3 / 15 / 2020,3 / 16 / 2020,3 / 17 / 2020,3 / 18 / 2020,3 / 19 / 2020,3 / 20 / 2020,3 / 21 / 2020
0,1001,172.0,165.0,187.0,161.0,166.0,182.0,146.0,154.0,219.0,...,189.0,228.0,176.0,90.0,131.0,119.0,106.0,85.0,68.0,54.0
1,1003,1829.0,2829.0,2915.0,2900.0,2655.0,2581.0,1195.0,1702.0,2703.0,...,2565.0,2294.0,927.0,1134.0,2212.0,2098.0,1928.0,1887.0,1243.0,438.0
2,1005,158.0,207.0,246.0,171.0,227.0,174.0,119.0,120.0,206.0,...,189.0,199.0,81.0,128.0,191.0,185.0,200.0,138.0,130.0,39.0
3,1007,145.0,218.0,196.0,194.0,197.0,168.0,112.0,114.0,172.0,...,200.0,154.0,87.0,89.0,168.0,164.0,158.0,136.0,104.0,38.0
4,1009,309.0,504.0,450.0,509.0,468.0,486.0,239.0,260.0,522.0,...,381.0,409.0,238.0,214.0,314.0,272.0,225.0,204.0,148.0,76.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3216,56037,24.0,71.0,86.0,49.0,69.0,70.0,27.0,31.0,78.0,...,58.0,42.0,30.0,28.0,62.0,68.0,45.0,42.0,22.0,13.0
3217,56039,32.0,106.0,40.0,76.0,102.0,87.0,29.0,34.0,130.0,...,95.0,84.0,21.0,30.0,83.0,66.0,68.0,62.0,41.0,13.0
3218,56041,32.0,99.0,110.0,114.0,136.0,102.0,42.0,35.0,85.0,...,108.0,81.0,32.0,29.0,99.0,110.0,85.0,75.0,73.0,29.0
3219,56043,119.0,264.0,226.0,241.0,231.0,184.0,121.0,96.0,218.0,...,222.0,204.0,104.0,102.0,182.0,189.0,195.0,142.0,110.0,56.0
3220,56045,9.0,18.0,23.0,12.0,14.0,16.0,7.0,7.0,10.0,...,13.0,14.0,7.0,16.0,10.0,5.0,12.0,15.0,4.0,6.0

In [8]:
#Hospital Visits
hospital_visits

,FIPS,3 / 1 / 2020,3 / 2 / 2020,3 / 3 / 2020,3 / 4 / 2020,3 / 5 / 2020,3 / 6 / 2020,3 / 7 / 2020,3 / 8 / 2020,3 / 9 / 2020,...,3 / 12 / 2020,3 / 13 / 2020,3 / 14 / 2020,3 / 15 / 2020,3 / 16 / 2020,3 / 17 / 2020,3 / 18 / 2020,3 / 19 / 2020,3 / 20 / 2020,3 / 21 / 2020
0,1001,80.0,62.0,80.0,62.0,73.0,85.0,91.0,73.0,62.0,...,70.0,62.0,43.0,42.0,48.0,65.0,48.0,47.0,38.0,31.0
1,1003,203.0,469.0,477.0,474.0,451.0,465.0,243.0,225.0,486.0,...,454.0,391.0,168.0,163.0,364.0,339.0,331.0,383.0,272.0,106.0
2,1005,33.0,61.0,70.0,36.0,63.0,42.0,21.0,23.0,43.0,...,44.0,31.0,22.0,11.0,41.0,48.0,52.0,38.0,27.0,8.0
3,1007,62.0,77.0,83.0,69.0,62.0,59.0,55.0,40.0,74.0,...,83.0,55.0,43.0,32.0,64.0,65.0,55.0,52.0,41.0,17.0
4,1009,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3216,56037,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3217,56039,13.0,37.0,17.0,41.0,46.0,40.0,11.0,13.0,55.0,...,45.0,40.0,9.0,8.0,40.0,27.0,32.0,30.0,19.0,1.0
3218,56041,10.0,18.0,25.0,21.0,28.0,26.0,15.0,14.0,19.0,...,19.0,13.0,6.0,2.0,19.0,28.0,18.0,18.0,23.0,14.0
3219,56043,31.0,76.0,62.0,60.0,61.0,42.0,28.0,31.0,80.0,...,67.0,70.0,27.0,29.0,55.0,63.0,57.0,53.0,29.0,19.0
3220,56045,2.0,11.0,10.0,6.0,8.0,8.0,2.0,5.0,3.0,...,5.0,6.0,6.0,5.0,8.0,3.0,4.0,8.0,2.0,2.0

In [9]:
#Show Infections Time Series
infections_timeseries

,FIPS,Combined_Key,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,...,3/19/20,3/20/20,3/21/20,3/23/20,3/24/20,3/25/20,3/26/20,3/27/20,3/28/20,3/29/20
0,1001,Autauga - Alabama - US,0,0,0,0,0,0,0,0,...,0,0,0,0,1,4,6,6,6,6
1,1003,Baldwin - Alabama - US,0,0,0,0,0,0,0,0,...,1,2,2,3,4,4,5,5,10,15
2,1005,Barbour - Alabama - US,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1007,Bibb - Alabama - US,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1009,Blount - Alabama - US,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,2,4,5,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3137,56037,Sweetwater - Wyoming - US,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,1,1,1,1
3138,56039,Teton - Wyoming - US,0,0,0,0,0,0,0,0,...,1,2,2,2,2,5,7,10,13,14
3139,56041,Uinta - Wyoming - US,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3140,56043,Washakie - Wyoming - US,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,1,1
3141,56045,Weston - Wyoming - US,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [10]:
#Show Interventions
interventions

,FIPS,STATE,AREA_NAME,stay at home,>50 gatherings,>500 gatherings,public schools,restaurant dine-in,entertainment/gym,federal guidelines,foreign travel ban
0,0,US,united states,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1000,AL,alabama,NaN,737504.0,737497.0,737500.0,737503.0,NaN,737500.0,737495.0
2,1001,AL,autauga county,NaN,737504.0,737497.0,737500.0,737503.0,NaN,737500.0,737495.0
3,1003,AL,baldwin county,NaN,737504.0,737497.0,737500.0,737503.0,NaN,737500.0,737495.0
4,1005,AL,barbour county,NaN,737504.0,737497.0,737500.0,737503.0,NaN,737500.0,737495.0
...,...,...,...,...,...,...,...,...,...,...,...
3268,72145,PR,"vega baja municipio, puerto rico",NaN,NaN,NaN,737500.0,737499.0,737499.0,737500.0,737495.0
3269,72147,PR,"vieques municipio, puerto rico",NaN,NaN,NaN,737500.0,737499.0,737499.0,737500.0,737495.0
3270,72149,PR,"villalba municipio, puerto rico",NaN,NaN,NaN,737500.0,737499.0,737499.0,737500.0,737495.0
3271,72151,PR,"yabucoa municipio, puerto rico",NaN,NaN,NaN,737500.0,737499.0,737499.0,737500.0,737495.0
3272,72153,PR,"yauco municipio, puerto rico",NaN,NaN,NaN,737500.0,737499.0,737499.0,737500.0,737495.0

In [11]:
#Show POI Visits
poi_visits

,FIPS,3 / 1 / 2020,3 / 2 / 2020,3 / 3 / 2020,3 / 4 / 2020,3 / 5 / 2020,3 / 6 / 2020,3 / 7 / 2020,3 / 8 / 2020,3 / 9 / 2020,...,3 / 12 / 2020,3 / 13 / 2020,3 / 14 / 2020,3 / 15 / 2020,3 / 16 / 2020,3 / 17 / 2020,3 / 18 / 2020,3 / 19 / 2020,3 / 20 / 2020,3 / 21 / 2020
0,1001,3113.0,3874.0,4057.0,3449.0,3868.0,4231.0,3706.0,2733.0,4012.0,...,4151.0,4787.0,3673.0,2523.0,2705.0,2645.0,2585.0,2552.0,2020.0,1319.0
1,1003,40296.0,40093.0,41526.0,36614.0,41624.0,54166.0,61910.0,48273.0,48748.0,...,53184.0,65732.0,67158.0,53406.0,55473.0,52864.0,47219.0,39277.0,25036.0,14461.0
2,1005,2106.0,2606.0,2778.0,2332.0,2900.0,3420.0,2863.0,2020.0,2438.0,...,2711.0,3610.0,2748.0,2172.0,2481.0,2382.0,2387.0,2209.0,1940.0,1212.0
3,1007,1721.0,2168.0,2347.0,1916.0,2204.0,2340.0,1729.0,1588.0,2185.0,...,2576.0,2870.0,2200.0,1564.0,1747.0,1781.0,1679.0,1695.0,1406.0,791.0
4,1009,4192.0,4796.0,5664.0,4862.0,4995.0,6008.0,4758.0,3740.0,4981.0,...,5180.0,6105.0,5087.0,2945.0,3561.0,3310.0,2975.0,2864.0,2339.0,1470.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3216,56037,695.0,970.0,969.0,1008.0,1127.0,1104.0,932.0,679.0,1099.0,...,1086.0,1062.0,865.0,834.0,950.0,912.0,847.0,801.0,643.0,603.0
3217,56039,2359.0,2564.0,2224.0,2303.0,2701.0,2978.0,3452.0,2769.0,2855.0,...,2856.0,3058.0,2686.0,2184.0,1867.0,1541.0,1178.0,1006.0,723.0,381.0
3218,56041,1051.0,1521.0,1674.0,1623.0,2117.0,2386.0,2064.0,1234.0,1566.0,...,1824.0,1966.0,1654.0,1356.0,1510.0,1540.0,1485.0,1427.0,1177.0,1036.0
3219,56043,2101.0,2841.0,2844.0,2809.0,2859.0,3281.0,2897.0,1985.0,2687.0,...,2950.0,3171.0,2658.0,2108.0,2365.0,2434.0,2451.0,2020.0,1654.0,1346.0
3220,56045,199.0,296.0,329.0,293.0,592.0,671.0,509.0,202.0,331.0,...,303.0,284.0,211.0,184.0,240.0,258.0,279.0,259.0,183.0,139.0

Clean Data

In [12]:
#Reduce Time Range of Output Data to Match Features Date Range
outputs_march = outputs.loc[(outputs['date']>='3/1/2020') & (outputs['date']<='3/21/2020')]
outputs_march

           date       county       state     fips  cases  deaths
398    3/1/2020     Maricopa     Arizona   4013.0      1       0
399    3/1/2020      Alameda  California   6001.0      1       0
400    3/1/2020     Humboldt  California   6023.0      1       0
401    3/1/2020  Los Angeles  California   6037.0      1       0
402    3/1/2020        Marin  California   6041.0      1       0
...         ...          ...         ...      ...    ...     ...
7111  3/21/2020      Laramie     Wyoming  56021.0      5       0
7112  3/21/2020      Natrona     Wyoming  56025.0      1       0
7113  3/21/2020         Park     Wyoming  56029.0      1       0
7114  3/21/2020     Sheridan     Wyoming  56033.0      4       0
7115  3/21/2020        Teton     Wyoming  56039.0      2       0

[6181 rows x 6 columns]

# Clean Data

In [13]:
#Select Features for Counties
counties_features = counties[['FIPS', 'State', 'Area_Name',
                              'Rural-urban_Continuum Code_2013', 'Urban_Influence_Code_2013', 'Economic_typology_2015',
                             'POP_ESTIMATE_2018', 'Percent of adults with less than a high school diploma 2014-18', 
                             'Percent of adults with a high school diploma only 2014-18', "Percent of adults completing some college or associate's degree 2014-18",
                             "Percent of adults with a bachelor's degree or higher 2014-18", 'Unemployment_rate_2018',
                             'Median_Household_Income_2018', 'Med_HH_Income_Percent_of_State_Total_2018',
                             'Mar Temp Min / F', 'Density per square mile of land area - Population',
                             'Density per square mile of land area - Housing units', 'Active Physicians per 100000 Population 2018 (AAMC)',
                             'Total Active Patient Care Physicians per 100000 Population 2018 (AAMC)',
                             'Active Primary Care Physicians per 100000 Population 2018 (AAMC)',
                             'Active Patient Care Primary Care Physicians per 100000 Population 2018 (AAMC)',
                             'Active General Surgeons per 100000 Population 2018 (AAMC)',
                             'Active Patient Care General Surgeons per 100000 Population 2018 (AAMC)',
                             'MD and DO Student Enrollment per 100000 Population AY 2018-2019 (AAMC)',
                             'Student Enrollment at Public MD and DO Schools per 100000 Population AY 2018-2019 (AAMC)',
                             'Total Residents/Fellows in ACGME Programs per 100000 Population as of December 31 2018 (AAMC)',
                             'Total Residents/Fellows in Primary Care ACGME Programs per 100000 Population as of Dec. 31 2018 (AAMC)',
                             'ICU Beds', 'crime_rate_per_100000']]
counties_features = counties_features.dropna()
counties_features

,FIPS,State,Area_Name,Rural-urban_Continuum Code_2013,Urban_Influence_Code_2013,Economic_typology_2015,POP_ESTIMATE_2018,Percent of adults with less than a high school diploma 2014-18,Percent of adults with a high school diploma only 2014-18,Percent of adults completing some college or associate's degree 2014-18,...,Active Primary Care Physicians per 100000 Population 2018 (AAMC),Active Patient Care Primary Care Physicians per 100000 Population 2018 (AAMC),Active General Surgeons per 100000 Population 2018 (AAMC),Active Patient Care General Surgeons per 100000 Population 2018 (AAMC),MD and DO Student Enrollment per 100000 Population AY 2018-2019 (AAMC),Student Enrollment at Public MD and DO Schools per 100000 Population AY 2018-2019 (AAMC),Total Residents/Fellows in ACGME Programs per 100000 Population as of December 31 2018 (AAMC),Total Residents/Fellows in Primary Care ACGME Programs per 100000 Population as of Dec. 31 2018 (AAMC),ICU Beds,crime_rate_per_100000
2,1001,AL,Autauga County,2.0,2.0,0.0,55601,11.3,32.6,28.4,...,77.2,71.2,7.6,6.9,49.1,22.8,29.9,11.9,6.0,2.516019e+09
3,1003,AL,Baldwin County,3.0,2.0,5.0,218022,9.7,27.6,31.3,...,77.2,71.2,7.6,6.9,49.1,22.8,29.9,11.9,51.0,2.280863e+08
4,1005,AL,Barbour County,6.0,6.0,3.0,24881,27.0,35.7,25.1,...,77.2,71.2,7.6,6.9,49.1,22.8,29.9,11.9,5.0,1.772788e+09
5,1007,AL,Bibb County,1.0,1.0,0.0,22400,16.8,47.3,24.4,...,77.2,71.2,7.6,6.9,49.1,22.8,29.9,11.9,0.0,2.176617e+09
6,1009,AL,Blount County,1.0,1.0,0.0,57840,19.8,34.0,33.5,...,77.2,71.2,7.6,6.9,49.1,22.8,29.9,11.9,6.0,2.108101e+09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2862,50019,VT,Orleans County,7.0,11.0,5.0,26907,12.4,38.3,27.6,...,130.3,121.5,11.7,9.9,76.3,76.3,50.9,14.5,5.0,1.398653e+09
2863,50021,VT,Rutland County,4.0,5.0,5.0,58672,7.7,35.1,26.9,...,130.3,121.5,11.7,9.9,76.3,76.3,50.9,14.5,13.0,1.765036e+09
2864,50023,VT,Washington County,4.0,5.0,4.0,58140,6.6,27.3,24.7,...,130.3,121.5,11.7,9.9,76.3,76.3,50.9,14.5,14.0,1.298066e+09
2865,50025,VT,Windham County,7.0,9.0,5.0,42756,6.6,30.2,24.6,...,130.3,121.5,11.7,9.9,76.3,76.3,50.9,14.5,0.0,2.325740e+09
2866,50027,VT,Windsor County,7.0,8.0,5.0,55286,6.8,30.1,26.8,...,130.3,121.5,11.7,9.9,76.3,76.3,50.9,14.5,0.0,1.123656e+09

In [14]:
#Create Grocery Visits Pivot Table
grocery_visits_pivot = pd.melt(grocery_visits, id_vars='FIPS', var_name="date", value_name='Grocery_Visits')
grocery_visits_pivot_cleaned = grocery_visits_pivot.reset_index(drop=True)
grocery_visits_pivot_cleaned['date'] = pd.to_datetime(grocery_visits_pivot_cleaned['date'])
grocery_visits_pivot_cleaned

        FIPS       date  Grocery_Visits
0       1001 2020-03-01           236.0
1       1003 2020-03-01          1440.0
2       1005 2020-03-01           149.0
3       1007 2020-03-01            46.0
4       1009 2020-03-01           178.0
...      ...        ...             ...
67636  56037 2020-03-21            21.0
67637  56039 2020-03-21            49.0
67638  56041 2020-03-21            90.0
67639  56043 2020-03-21            77.0
67640  56045 2020-03-21            12.0

[67641 rows x 3 columns]

In [15]:
#Create Healthcare Visits Pivot Table
healthcare_visits_pivot = pd.melt(healthcare_visits, id_vars='FIPS', var_name="date", value_name='Healthcare_Visits')
healthcare_visits_pivot_cleaned = healthcare_visits_pivot.reset_index(drop=True)
healthcare_visits_pivot_cleaned['date'] = pd.to_datetime(healthcare_visits_pivot['date'])
healthcare_visits_pivot_cleaned

        FIPS       date  Healthcare_Visits
0       1001 2020-03-01              172.0
1       1003 2020-03-01             1829.0
2       1005 2020-03-01              158.0
3       1007 2020-03-01              145.0
4       1009 2020-03-01              309.0
...      ...        ...                ...
67636  56037 2020-03-21               13.0
67637  56039 2020-03-21               13.0
67638  56041 2020-03-21               29.0
67639  56043 2020-03-21               56.0
67640  56045 2020-03-21                6.0

[67641 rows x 3 columns]

In [16]:
#Create Hospital Visits Pivot Table
hospital_visits_pivot = pd.melt(hospital_visits, id_vars='FIPS', var_name="date", value_name='Hospital_Visits')
hospital_visits_pivot_cleaned = hospital_visits_pivot.reset_index(drop=True)
hospital_visits_pivot_cleaned['date'] = pd.to_datetime(hospital_visits_pivot_cleaned['date'])
hospital_visits_pivot_cleaned

        FIPS       date  Hospital_Visits
0       1001 2020-03-01             80.0
1       1003 2020-03-01            203.0
2       1005 2020-03-01             33.0
3       1007 2020-03-01             62.0
4       1009 2020-03-01              0.0
...      ...        ...              ...
67636  56037 2020-03-21              0.0
67637  56039 2020-03-21              1.0
67638  56041 2020-03-21             14.0
67639  56043 2020-03-21             19.0
67640  56045 2020-03-21              2.0

[67641 rows x 3 columns]

In [17]:
#Create Interventions Pivot Table
#Found Method to Convert Julian to Gregorian Dates from https://oneau.wordpress.com/2011/08/30/jdcal/
#and https://stackoverflow.com/questions/48587595/convert-julian-dates-to-normal-dates-in-a-dataframe

In [18]:
#Create POI Visits Pivot Table
poi_visits_pivot = pd.melt(poi_visits, id_vars='FIPS', var_name="date", value_name='POI_Visits')
poi_visits_pivot_cleaned = poi_visits_pivot.reset_index(drop=True)
poi_visits_pivot_cleaned['date'] = pd.to_datetime(poi_visits_pivot_cleaned['date'])
poi_visits_pivot_cleaned

        FIPS       date  POI_Visits
0       1001 2020-03-01      3113.0
1       1003 2020-03-01     40296.0
2       1005 2020-03-01      2106.0
3       1007 2020-03-01      1721.0
4       1009 2020-03-01      4192.0
...      ...        ...         ...
67636  56037 2020-03-21       603.0
67637  56039 2020-03-21       381.0
67638  56041 2020-03-21      1036.0
67639  56043 2020-03-21      1346.0
67640  56045 2020-03-21       139.0

[67641 rows x 3 columns]

In [19]:
#Create Infections Pivot Table
infections_pivot = pd.melt(infections_timeseries, id_vars=['FIPS', 'Combined_Key'], var_name="date", value_name='Number of Infections')
infections_pivot_filtered = infections_pivot.loc[(infections_pivot['date']>='3/0/2020') & (infections_pivot['date']<='3/30/2020')]
infections_pivot_filtered['date'] = pd.to_datetime(infections_pivot_filtered['date'])
infections_pivot_cleaned = infections_pivot_filtered.sort_values(['FIPS', 'date'], ascending=True).reset_index(drop=True)
infections_pivot_cleaned

C:\Users\bjros\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

        FIPS            Combined_Key       date  Number of Infections
0       1001  Autauga - Alabama - US 2020-03-01                     0
1       1001  Autauga - Alabama - US 2020-03-02                     0
2       1001  Autauga - Alabama - US 2020-03-03                     0
3       1001  Autauga - Alabama - US 2020-03-10                     0
4       1001  Autauga - Alabama - US 2020-03-11                     0
...      ...                     ...        ...                   ...
69119  56045   Weston - Wyoming - US 2020-03-25                     0
69120  56045   Weston - Wyoming - US 2020-03-26                     0
69121  56045   Weston - Wyoming - US 2020-03-27                     0
69122  56045   Weston - Wyoming - US 2020-03-28                     0
69123  56045   Weston - Wyoming - US 2020-03-29                     0

[69124 rows x 4 columns]

In [20]:
#Create Deaths Table
deaths_pivot = pd.melt(deaths_timeseries, id_vars=['FIPS', 'Combined_Key'], var_name="date", value_name='Number of Deaths')
deaths_pivot_filtered = deaths_pivot.loc[(infections_pivot['date']>='3/0/2020') & (infections_pivot['date']<='3/30/2020')]
deaths_pivot_filtered['date'] = pd.to_datetime(deaths_pivot_filtered['date'])
deaths_pivot_cleaned = deaths_pivot_filtered.sort_values(['FIPS', 'date'], ascending=True).reset_index(drop=True)
deaths_pivot_cleaned

C:\Users\bjros\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

        FIPS            Combined_Key       date  Number of Deaths
0       1001  Autauga - Alabama - US 2020-03-01                 0
1       1001  Autauga - Alabama - US 2020-03-02                 0
2       1001  Autauga - Alabama - US 2020-03-03                 0
3       1001  Autauga - Alabama - US 2020-03-10                 0
4       1001  Autauga - Alabama - US 2020-03-11                 0
...      ...                     ...        ...               ...
69119  56045   Weston - Wyoming - US 2020-03-25                 0
69120  56045   Weston - Wyoming - US 2020-03-26                 0
69121  56045   Weston - Wyoming - US 2020-03-27                 0
69122  56045   Weston - Wyoming - US 2020-03-28                 0
69123  56045   Weston - Wyoming - US 2020-03-29                 0

[69124 rows x 4 columns]

# Join Tables

In [21]:
#Join Outputs Tables
infections_deaths_pivot = infections_pivot_cleaned.join(deaths_pivot_cleaned['Number of Deaths'], how='inner', on='FIPS')
infections_deaths_pivot_sorted = infections_deaths_pivot.sort_values(['FIPS', 'date'], ascending=True).reset_index(drop=True)
infections_deaths_pivot_sorted

,FIPS,Combined_Key,date,Number of Infections,Number of Deaths
0,1001,Autauga - Alabama - US,2020-03-01,0,0
1,1001,Autauga - Alabama - US,2020-03-02,0,0
2,1001,Autauga - Alabama - US,2020-03-03,0,0
3,1001,Autauga - Alabama - US,2020-03-10,0,0
4,1001,Autauga - Alabama - US,2020-03-11,0,0
...,...,...,...,...,...
69119,56045,Weston - Wyoming - US,2020-03-25,0,0
69120,56045,Weston - Wyoming - US,2020-03-26,0,0
69121,56045,Weston - Wyoming - US,2020-03-27,0,0
69122,56045,Weston - Wyoming - US,2020-03-28,0,0
69123,56045,Weston - Wyoming - US,2020-03-29,0,0

In [22]:
#Join Feature Tables
#Found Method to Merge & Fill Missing Values at https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.merge_ordered.html
counties_grocery_pivots = pd.merge_ordered(counties_features, grocery_visits_pivot_cleaned, how='outer', on='FIPS', fill_method='ffill')
counties_grocery_pivots_sorted = counties_grocery_pivots.sort_values(['FIPS', 'date'], ascending=True).reset_index(drop=True)
counties_grocery_pivots_columns = counties_grocery_pivots_sorted.columns
counties_grocery_pivots_sorted = counties_grocery_pivots[['FIPS', 'State', 'Area_Name', 'date', 'Rural-urban_Continuum Code_2013',
       'Urban_Influence_Code_2013', 'Economic_typology_2015',
       'POP_ESTIMATE_2018',
       'Percent of adults with less than a high school diploma 2014-18',
       'Percent of adults with a high school diploma only 2014-18',
       "Percent of adults completing some college or associate's degree 2014-18",
       "Percent of adults with a bachelor's degree or higher 2014-18",
       'Unemployment_rate_2018', 'Median_Household_Income_2018',
       'Med_HH_Income_Percent_of_State_Total_2018', 'Mar Temp Min / F',
       'Density per square mile of land area - Population',
       'Density per square mile of land area - Housing units',
       'Active Physicians per 100000 Population 2018 (AAMC)',
       'Total Active Patient Care Physicians per 100000 Population 2018 (AAMC)',
       'Active Primary Care Physicians per 100000 Population 2018 (AAMC)',
       'Active Patient Care Primary Care Physicians per 100000 Population 2018 (AAMC)',
       'Active General Surgeons per 100000 Population 2018 (AAMC)',
       'Active Patient Care General Surgeons per 100000 Population 2018 (AAMC)',
       'MD and DO Student Enrollment per 100000 Population AY 2018-2019 (AAMC)',
       'Student Enrollment at Public MD and DO Schools per 100000 Population AY 2018-2019 (AAMC)',
       'Total Residents/Fellows in ACGME Programs per 100000 Population as of December 31 2018 (AAMC)',
       'Total Residents/Fellows in Primary Care ACGME Programs per 100000 Population as of Dec. 31 2018 (AAMC)',
       'ICU Beds', 'crime_rate_per_100000', 'Grocery_Visits']]
counties_grocery_pivots_sorted
#counties_grocery_pivots_sorted.loc[(counties_grocery_pivots_sorted['date']=='2020-03-02')].dropna()
#len(counties_grocery_pivots_sorted['FIPS'].unique())

,FIPS,State,Area_Name,date,Rural-urban_Continuum Code_2013,Urban_Influence_Code_2013,Economic_typology_2015,POP_ESTIMATE_2018,Percent of adults with less than a high school diploma 2014-18,Percent of adults with a high school diploma only 2014-18,...,Active Patient Care Primary Care Physicians per 100000 Population 2018 (AAMC),Active General Surgeons per 100000 Population 2018 (AAMC),Active Patient Care General Surgeons per 100000 Population 2018 (AAMC),MD and DO Student Enrollment per 100000 Population AY 2018-2019 (AAMC),Student Enrollment at Public MD and DO Schools per 100000 Population AY 2018-2019 (AAMC),Total Residents/Fellows in ACGME Programs per 100000 Population as of December 31 2018 (AAMC),Total Residents/Fellows in Primary Care ACGME Programs per 100000 Population as of Dec. 31 2018 (AAMC),ICU Beds,crime_rate_per_100000,Grocery_Visits
0,1001,AL,Autauga County,2020-03-01,2.0,2.0,0.0,55601,11.3,32.6,...,71.2,7.6,6.9,49.1,22.8,29.9,11.9,6.0,2.516019e+09,236.0
1,1001,AL,Autauga County,2020-03-02,2.0,2.0,0.0,55601,11.3,32.6,...,71.2,7.6,6.9,49.1,22.8,29.9,11.9,6.0,2.516019e+09,253.0
2,1001,AL,Autauga County,2020-03-03,2.0,2.0,0.0,55601,11.3,32.6,...,71.2,7.6,6.9,49.1,22.8,29.9,11.9,6.0,2.516019e+09,213.0
3,1001,AL,Autauga County,2020-03-04,2.0,2.0,0.0,55601,11.3,32.6,...,71.2,7.6,6.9,49.1,22.8,29.9,11.9,6.0,2.516019e+09,180.0
4,1001,AL,Autauga County,2020-03-05,2.0,2.0,0.0,55601,11.3,32.6,...,71.2,7.6,6.9,49.1,22.8,29.9,11.9,6.0,2.516019e+09,207.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
67636,72153,VT,Windsor County,2020-03-17,7.0,8.0,5.0,55286,6.8,30.1,...,121.5,11.7,9.9,76.3,76.3,50.9,14.5,0.0,1.123656e+09,0.0
67637,72153,VT,Windsor County,2020-03-18,7.0,8.0,5.0,55286,6.8,30.1,...,121.5,11.7,9.9,76.3,76.3,50.9,14.5,0.0,1.123656e+09,0.0
67638,72153,VT,Windsor County,2020-03-19,7.0,8.0,5.0,55286,6.8,30.1,...,121.5,11.7,9.9,76.3,76.3,50.9,14.5,0.0,1.123656e+09,0.0
67639,72153,VT,Windsor County,2020-03-20,7.0,8.0,5.0,55286,6.8,30.1,...,121.5,11.7,9.9,76.3,76.3,50.9,14.5,0.0,1.123656e+09,0.0
67640,72153,VT,Windsor County,2020-03-21,7.0,8.0,5.0,55286,6.8,30.1,...,121.5,11.7,9.9,76.3,76.3,50.9,14.5,0.0,1.123656e+09,0.0

In [23]:
#Join with Heathcare Visits
co_gr_hc_pivot = counties_grocery_pivots_sorted.merge(healthcare_visits_pivot_cleaned, how='inner', on=['FIPS', 'date'])
co_gr_hc_pivot_sorted = co_gr_hc_pivot.sort_values(['FIPS', 'date'], ascending=True).reset_index(drop=True)
co_gr_hc_pivot_sorted

,FIPS,State,Area_Name,date,Rural-urban_Continuum Code_2013,Urban_Influence_Code_2013,Economic_typology_2015,POP_ESTIMATE_2018,Percent of adults with less than a high school diploma 2014-18,Percent of adults with a high school diploma only 2014-18,...,Active General Surgeons per 100000 Population 2018 (AAMC),Active Patient Care General Surgeons per 100000 Population 2018 (AAMC),MD and DO Student Enrollment per 100000 Population AY 2018-2019 (AAMC),Student Enrollment at Public MD and DO Schools per 100000 Population AY 2018-2019 (AAMC),Total Residents/Fellows in ACGME Programs per 100000 Population as of December 31 2018 (AAMC),Total Residents/Fellows in Primary Care ACGME Programs per 100000 Population as of Dec. 31 2018 (AAMC),ICU Beds,crime_rate_per_100000,Grocery_Visits,Healthcare_Visits
0,1001,AL,Autauga County,2020-03-01,2.0,2.0,0.0,55601,11.3,32.6,...,7.6,6.9,49.1,22.8,29.9,11.9,6.0,2.516019e+09,236.0,172.0
1,1001,AL,Autauga County,2020-03-02,2.0,2.0,0.0,55601,11.3,32.6,...,7.6,6.9,49.1,22.8,29.9,11.9,6.0,2.516019e+09,253.0,165.0
2,1001,AL,Autauga County,2020-03-03,2.0,2.0,0.0,55601,11.3,32.6,...,7.6,6.9,49.1,22.8,29.9,11.9,6.0,2.516019e+09,213.0,187.0
3,1001,AL,Autauga County,2020-03-04,2.0,2.0,0.0,55601,11.3,32.6,...,7.6,6.9,49.1,22.8,29.9,11.9,6.0,2.516019e+09,180.0,161.0
4,1001,AL,Autauga County,2020-03-05,2.0,2.0,0.0,55601,11.3,32.6,...,7.6,6.9,49.1,22.8,29.9,11.9,6.0,2.516019e+09,207.0,166.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
67636,72153,VT,Windsor County,2020-03-17,7.0,8.0,5.0,55286,6.8,30.1,...,11.7,9.9,76.3,76.3,50.9,14.5,0.0,1.123656e+09,0.0,0.0
67637,72153,VT,Windsor County,2020-03-18,7.0,8.0,5.0,55286,6.8,30.1,...,11.7,9.9,76.3,76.3,50.9,14.5,0.0,1.123656e+09,0.0,0.0
67638,72153,VT,Windsor County,2020-03-19,7.0,8.0,5.0,55286,6.8,30.1,...,11.7,9.9,76.3,76.3,50.9,14.5,0.0,1.123656e+09,0.0,0.0
67639,72153,VT,Windsor County,2020-03-20,7.0,8.0,5.0,55286,6.8,30.1,...,11.7,9.9,76.3,76.3,50.9,14.5,0.0,1.123656e+09,0.0,0.0
67640,72153,VT,Windsor County,2020-03-21,7.0,8.0,5.0,55286,6.8,30.1,...,11.7,9.9,76.3,76.3,50.9,14.5,0.0,1.123656e+09,0.0,0.0

In [24]:
#Join with Hospital Visits
co_gr_hc_ho_pivot = co_gr_hc_pivot_sorted.merge(hospital_visits_pivot_cleaned, how='inner', on=['FIPS', 'date'])
co_gr_hc_ho_pivot_sorted = co_gr_hc_ho_pivot.sort_values(['FIPS', 'date'], ascending=True).reset_index(drop=True)
co_gr_hc_ho_pivot_sorted

,FIPS,State,Area_Name,date,Rural-urban_Continuum Code_2013,Urban_Influence_Code_2013,Economic_typology_2015,POP_ESTIMATE_2018,Percent of adults with less than a high school diploma 2014-18,Percent of adults with a high school diploma only 2014-18,...,Active Patient Care General Surgeons per 100000 Population 2018 (AAMC),MD and DO Student Enrollment per 100000 Population AY 2018-2019 (AAMC),Student Enrollment at Public MD and DO Schools per 100000 Population AY 2018-2019 (AAMC),Total Residents/Fellows in ACGME Programs per 100000 Population as of December 31 2018 (AAMC),Total Residents/Fellows in Primary Care ACGME Programs per 100000 Population as of Dec. 31 2018 (AAMC),ICU Beds,crime_rate_per_100000,Grocery_Visits,Healthcare_Visits,Hospital_Visits
0,1001,AL,Autauga County,2020-03-01,2.0,2.0,0.0,55601,11.3,32.6,...,6.9,49.1,22.8,29.9,11.9,6.0,2.516019e+09,236.0,172.0,80.0
1,1001,AL,Autauga County,2020-03-02,2.0,2.0,0.0,55601,11.3,32.6,...,6.9,49.1,22.8,29.9,11.9,6.0,2.516019e+09,253.0,165.0,62.0
2,1001,AL,Autauga County,2020-03-03,2.0,2.0,0.0,55601,11.3,32.6,...,6.9,49.1,22.8,29.9,11.9,6.0,2.516019e+09,213.0,187.0,80.0
3,1001,AL,Autauga County,2020-03-04,2.0,2.0,0.0,55601,11.3,32.6,...,6.9,49.1,22.8,29.9,11.9,6.0,2.516019e+09,180.0,161.0,62.0
4,1001,AL,Autauga County,2020-03-05,2.0,2.0,0.0,55601,11.3,32.6,...,6.9,49.1,22.8,29.9,11.9,6.0,2.516019e+09,207.0,166.0,73.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
67636,72153,VT,Windsor County,2020-03-17,7.0,8.0,5.0,55286,6.8,30.1,...,9.9,76.3,76.3,50.9,14.5,0.0,1.123656e+09,0.0,0.0,0.0
67637,72153,VT,Windsor County,2020-03-18,7.0,8.0,5.0,55286,6.8,30.1,...,9.9,76.3,76.3,50.9,14.5,0.0,1.123656e+09,0.0,0.0,0.0
67638,72153,VT,Windsor County,2020-03-19,7.0,8.0,5.0,55286,6.8,30.1,...,9.9,76.3,76.3,50.9,14.5,0.0,1.123656e+09,0.0,0.0,0.0
67639,72153,VT,Windsor County,2020-03-20,7.0,8.0,5.0,55286,6.8,30.1,...,9.9,76.3,76.3,50.9,14.5,0.0,1.123656e+09,0.0,0.0,0.0
67640,72153,VT,Windsor County,2020-03-21,7.0,8.0,5.0,55286,6.8,30.1,...,9.9,76.3,76.3,50.9,14.5,0.0,1.123656e+09,0.0,0.0,0.0

In [25]:
#Join with POI Visits
co_gr_hc_ho_poi_pivot = co_gr_hc_ho_pivot_sorted.merge(poi_visits_pivot_cleaned, how='inner', on=['FIPS', 'date'])
co_gr_hc_ho_poi_pivot_sorted = co_gr_hc_ho_poi_pivot.sort_values(['FIPS', 'date'], ascending=True).reset_index(drop=True)
co_gr_hc_ho_poi_pivot_sorted

,FIPS,State,Area_Name,date,Rural-urban_Continuum Code_2013,Urban_Influence_Code_2013,Economic_typology_2015,POP_ESTIMATE_2018,Percent of adults with less than a high school diploma 2014-18,Percent of adults with a high school diploma only 2014-18,...,MD and DO Student Enrollment per 100000 Population AY 2018-2019 (AAMC),Student Enrollment at Public MD and DO Schools per 100000 Population AY 2018-2019 (AAMC),Total Residents/Fellows in ACGME Programs per 100000 Population as of December 31 2018 (AAMC),Total Residents/Fellows in Primary Care ACGME Programs per 100000 Population as of Dec. 31 2018 (AAMC),ICU Beds,crime_rate_per_100000,Grocery_Visits,Healthcare_Visits,Hospital_Visits,POI_Visits
0,1001,AL,Autauga County,2020-03-01,2.0,2.0,0.0,55601,11.3,32.6,...,49.1,22.8,29.9,11.9,6.0,2.516019e+09,236.0,172.0,80.0,3113.0
1,1001,AL,Autauga County,2020-03-02,2.0,2.0,0.0,55601,11.3,32.6,...,49.1,22.8,29.9,11.9,6.0,2.516019e+09,253.0,165.0,62.0,3874.0
2,1001,AL,Autauga County,2020-03-03,2.0,2.0,0.0,55601,11.3,32.6,...,49.1,22.8,29.9,11.9,6.0,2.516019e+09,213.0,187.0,80.0,4057.0
3,1001,AL,Autauga County,2020-03-04,2.0,2.0,0.0,55601,11.3,32.6,...,49.1,22.8,29.9,11.9,6.0,2.516019e+09,180.0,161.0,62.0,3449.0
4,1001,AL,Autauga County,2020-03-05,2.0,2.0,0.0,55601,11.3,32.6,...,49.1,22.8,29.9,11.9,6.0,2.516019e+09,207.0,166.0,73.0,3868.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
67636,72153,VT,Windsor County,2020-03-17,7.0,8.0,5.0,55286,6.8,30.1,...,76.3,76.3,50.9,14.5,0.0,1.123656e+09,0.0,0.0,0.0,0.0
67637,72153,VT,Windsor County,2020-03-18,7.0,8.0,5.0,55286,6.8,30.1,...,76.3,76.3,50.9,14.5,0.0,1.123656e+09,0.0,0.0,0.0,0.0
67638,72153,VT,Windsor County,2020-03-19,7.0,8.0,5.0,55286,6.8,30.1,...,76.3,76.3,50.9,14.5,0.0,1.123656e+09,0.0,0.0,0.0,0.0
67639,72153,VT,Windsor County,2020-03-20,7.0,8.0,5.0,55286,6.8,30.1,...,76.3,76.3,50.9,14.5,0.0,1.123656e+09,0.0,0.0,0.0,0.0
67640,72153,VT,Windsor County,2020-03-21,7.0,8.0,5.0,55286,6.8,30.1,...,76.3,76.3,50.9,14.5,0.0,1.123656e+09,0.0,0.0,0.0,0.0

In [26]:
#Join with Interventions
co_gr_hc_ho_poi_in_pivot = co_gr_hc_ho_poi_pivot_sorted.merge(interventions, how='inner', on='FIPS')
co_gr_hc_ho_poi_in_pivot_sorted = co_gr_hc_ho_poi_in_pivot.sort_values(['FIPS', 'date'], ascending=True).reset_index(drop=True)
co_gr_hc_ho_poi_in_pivot_sorted

,FIPS,State,Area_Name,date,Rural-urban_Continuum Code_2013,Urban_Influence_Code_2013,Economic_typology_2015,POP_ESTIMATE_2018,Percent of adults with less than a high school diploma 2014-18,Percent of adults with a high school diploma only 2014-18,...,STATE,AREA_NAME,stay at home,>50 gatherings,>500 gatherings,public schools,restaurant dine-in,entertainment/gym,federal guidelines,foreign travel ban
0,1001,AL,Autauga County,2020-03-01,2.0,2.0,0.0,55601,11.3,32.6,...,AL,autauga county,NaN,737504.0,737497.0,737500.0,737503.0,NaN,737500.0,737495.0
1,1001,AL,Autauga County,2020-03-02,2.0,2.0,0.0,55601,11.3,32.6,...,AL,autauga county,NaN,737504.0,737497.0,737500.0,737503.0,NaN,737500.0,737495.0
2,1001,AL,Autauga County,2020-03-03,2.0,2.0,0.0,55601,11.3,32.6,...,AL,autauga county,NaN,737504.0,737497.0,737500.0,737503.0,NaN,737500.0,737495.0
3,1001,AL,Autauga County,2020-03-04,2.0,2.0,0.0,55601,11.3,32.6,...,AL,autauga county,NaN,737504.0,737497.0,737500.0,737503.0,NaN,737500.0,737495.0
4,1001,AL,Autauga County,2020-03-05,2.0,2.0,0.0,55601,11.3,32.6,...,AL,autauga county,NaN,737504.0,737497.0,737500.0,737503.0,NaN,737500.0,737495.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
67636,72153,VT,Windsor County,2020-03-17,7.0,8.0,5.0,55286,6.8,30.1,...,PR,"yauco municipio, puerto rico",NaN,NaN,NaN,737500.0,737499.0,737499.0,737500.0,737495.0
67637,72153,VT,Windsor County,2020-03-18,7.0,8.0,5.0,55286,6.8,30.1,...,PR,"yauco municipio, puerto rico",NaN,NaN,NaN,737500.0,737499.0,737499.0,737500.0,737495.0
67638,72153,VT,Windsor County,2020-03-19,7.0,8.0,5.0,55286,6.8,30.1,...,PR,"yauco municipio, puerto rico",NaN,NaN,NaN,737500.0,737499.0,737499.0,737500.0,737495.0
67639,72153,VT,Windsor County,2020-03-20,7.0,8.0,5.0,55286,6.8,30.1,...,PR,"yauco municipio, puerto rico",NaN,NaN,NaN,737500.0,737499.0,737499.0,737500.0,737495.0
67640,72153,VT,Windsor County,2020-03-21,7.0,8.0,5.0,55286,6.8,30.1,...,PR,"yauco municipio, puerto rico",NaN,NaN,NaN,737500.0,737499.0,737499.0,737500.0,737495.0

In [27]:
#Join Features & Outputs Tables
master_df = co_gr_hc_ho_poi_in_pivot_sorted.merge(infections_deaths_pivot_sorted[['FIPS', 'date', 'Number of Infections',
                                                                             'Number of Deaths']], how='inner', on=['FIPS', 'date'])
master_df_cleaned = master_df.dropna(subset=['State', 'Area_Name'], how='any')
master_df_cleaned.dtypes

FIPS                                                                                                               int64
State                                                                                                             object
Area_Name                                                                                                         object
date                                                                                                      datetime64[ns]
Rural-urban_Continuum Code_2013                                                                                  float64
Urban_Influence_Code_2013                                                                                        float64
Economic_typology_2015                                                                                           float64
POP_ESTIMATE_2018                                                                                                  int64
Percent of adults with less than a high school diploma 2014-18                                                   float64
Percent of adults with a high school diploma only 2014-18                                                        float64
Percent of adults completing some college or associate's degree 2014-18                                          float64
Percent of adults with a bachelor's degree or higher 2014-18                                                     float64
Unemployment_rate_2018                                                                                           float64
Median_Household_Income_2018                                                                                     float64
Med_HH_Income_Percent_of_State_Total_2018                                                                        float64
Mar Temp Min / F                                                                                                 float64
Density per square mile of land area - Population                                                                float64
Density per square mile of land area - Housing units                                                             float64
Active Physicians per 100000 Population 2018 (AAMC)                                                              float64
Total Active Patient Care Physicians per 100000 Population 2018 (AAMC)                                           float64
Active Primary Care Physicians per 100000 Population 2018 (AAMC)                                                 float64
Active Patient Care Primary Care Physicians per 100000 Population 2018 (AAMC)                                    float64
Active General Surgeons per 100000 Population 2018 (AAMC)                                                        float64
Active Patient Care General Surgeons per 100000 Population 2018 (AAMC)                                           float64
MD and DO Student Enrollment per 100000 Population AY 2018-2019 (AAMC)                                           float64
Student Enrollment at Public MD and DO Schools per 100000 Population AY 2018-2019 (AAMC)                         float64
Total Residents/Fellows in ACGME Programs per 100000 Population as of December 31 2018 (AAMC)                    float64
Total Residents/Fellows in Primary Care ACGME Programs per 100000 Population as of Dec. 31 2018 (AAMC)           float64
ICU Beds                                                                                                         float64
crime_rate_per_100000                                                                                            float64
Grocery_Visits                                                                                                   float64
Healthcare_Visits                                                                                                float64
Hospital_Visits                                                                                                  float64
POI_Visits                                                                                                       float64
STATE                                                                                                             object
AREA_NAME                                                                                                         object
stay at home                                                                                                     float64
>50 gatherings                                                                                                   float64
>500 gatherings                                                                                                  float64
public schools                                                                                                   float64
restaurant dine-in                                                                                               float64
entertainment/gym                                                                                                float64
federal guidelines                                                                                               float64
foreign travel ban                                                                                               float64
Number of Infections                                                                                               int64
Number of Deaths                                                                                                   int64
dtype: object

# Check Integrity of Final Table

In [28]:
#Export Data to Local Computer
master_df_cleaned.to_csv('../Data/Final_Table.csv')

# Machine Learning

In [29]:
#Import Machine Learning Module(s)
import sklearn
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OneHotEncoder
import category_encoders as ce

In [30]:
#Split Columns into Feature & COVID Case/Rate Variables
features = master_df.drop(['Number of Infections', 'Number of Deaths'], axis=1)
covid_rates = master_df[['Number of Infections', 'Number of Deaths']]

#Split these into Train & Test Variables
x_train, x_test, y_train, y_test = train_test_split(features, covid_rates)

In [31]:
#Show Features Training Data
x_train

,FIPS,State,Area_Name,date,Rural-urban_Continuum Code_2013,Urban_Influence_Code_2013,Economic_typology_2015,POP_ESTIMATE_2018,Percent of adults with less than a high school diploma 2014-18,Percent of adults with a high school diploma only 2014-18,...,STATE,AREA_NAME,stay at home,>50 gatherings,>500 gatherings,public schools,restaurant dine-in,entertainment/gym,federal guidelines,foreign travel ban
43391,51153,VT,Windsor County,2020-03-18,7.0,8.0,5.0,55286,6.8,30.1,...,VA,prince william county,737514.0,737508.0,737508.0,737500.0,737507.0,737500.0,737500.0,737495.0
40522,48357,TX,Ochiltree County,2020-03-14,7.0,11.0,2.0,9947,24.7,31.4,...,TX,ochiltree county,NaN,737505.0,737498.0,737507.0,737503.0,737503.0,737500.0,737495.0
34080,42057,OR,Yamhill County,2020-03-01,1.0,1.0,0.0,107002,11.7,25.6,...,PA,fulton county,NaN,737507.0,737507.0,737500.0,737501.0,737501.0,737500.0,737495.0
632,1085,AL,Lowndes County,2020-03-03,2.0,2.0,3.0,9974,22.5,38.6,...,AL,lowndes county,NaN,737504.0,737497.0,737500.0,737503.0,NaN,737500.0,737495.0
8915,16087,HI,Maui County,2020-03-12,3.0,2.0,5.0,167207,8.0,31.8,...,ID,washington county,737509.0,737509.0,737509.0,737507.0,737507.0,737507.0,737500.0,737495.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6659,13115,GA,Floyd County,2020-03-21,3.0,2.0,0.0,97927,19.0,33.1,...,GA,floyd county,NaN,737501.0,737501.0,737502.0,737504.0,737504.0,737500.0,737495.0
34270,42081,OR,Yamhill County,2020-03-17,1.0,1.0,0.0,107002,11.7,25.6,...,PA,lycoming county,NaN,737507.0,737507.0,737500.0,737501.0,737501.0,737500.0,737495.0
7267,13197,GA,Marion County,2020-03-14,2.0,2.0,3.0,8351,23.1,38.1,...,GA,marion county,NaN,737501.0,737501.0,737502.0,737504.0,737504.0,737500.0,737495.0
21213,28027,MS,Coahoma County,2020-03-10,7.0,8.0,0.0,22628,21.3,24.5,...,MS,coahoma county,NaN,737509.0,737509.0,737504.0,737509.0,737509.0,737500.0,737495.0
36874,47061,TN,Grundy County,2020-03-11,8.0,7.0,0.0,13346,24.3,42.1,...,TN,grundy county,737515.0,737509.0,737509.0,737504.0,737507.0,737507.0,737500.0,737495.0

In [32]:
#Show Features Test Data
x_test

,FIPS,State,Area_Name,date,Rural-urban_Continuum Code_2013,Urban_Influence_Code_2013,Economic_typology_2015,POP_ESTIMATE_2018,Percent of adults with less than a high school diploma 2014-18,Percent of adults with a high school diploma only 2014-18,...,STATE,AREA_NAME,stay at home,>50 gatherings,>500 gatherings,public schools,restaurant dine-in,entertainment/gym,federal guidelines,foreign travel ban
36018,46081,SD,Lawrence County,2020-03-10,6.0,5.0,5.0,25741,6.4,30.0,...,SD,lawrence county,NaN,NaN,NaN,737500.0,NaN,NaN,737500.0,737495.0
31079,39057,OH,Greene County,2020-03-21,2.0,2.0,4.0,167995,6.6,24.4,...,OH,greene county,737507.0,737499.0,737499.0,737501.0,737499.0,737506.0,737500.0,737495.0
21481,28063,MS,Jefferson County,2020-03-02,8.0,7.0,0.0,7106,25.2,36.1,...,MS,jefferson county,NaN,737509.0,737509.0,737504.0,737509.0,737509.0,737500.0,737495.0
45038,54021,VT,Windsor County,2020-03-15,7.0,8.0,5.0,55286,6.8,30.1,...,WV,gilmer county,737508.0,737508.0,737508.0,737500.0,737508.0,737508.0,737500.0,737495.0
21224,28027,MS,Coahoma County,2020-03-21,7.0,8.0,0.0,22628,21.3,24.5,...,MS,coahoma county,NaN,737509.0,737509.0,737504.0,737509.0,737509.0,737500.0,737495.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39795,48261,TX,Kenedy County,2020-03-01,9.0,8.0,2.0,442,66.3,21.1,...,TX,kenedy county,NaN,737505.0,737498.0,737507.0,737503.0,737503.0,737500.0,737495.0
4338,8089,CO,Otero County,2020-03-10,6.0,6.0,0.0,18432,14.6,29.2,...,CO,otero county,737510.0,737508.0,737497.0,737507.0,737504.0,737501.0,737500.0,737495.0
36721,47041,TN,DeKalb County,2020-03-02,6.0,4.0,3.0,20138,20.1,42.2,...,TN,dekalb county,737515.0,737509.0,737509.0,737504.0,737507.0,737507.0,737500.0,737495.0
26528,33009,NV,Carson City,2020-03-15,3.0,2.0,4.0,55414,12.7,27.5,...,NH,grafton county,737511.0,737508.0,737508.0,737500.0,737500.0,NaN,737500.0,737495.0
312,1041,AL,Crenshaw County,2020-03-19,8.0,6.0,3.0,13824,21.6,38.8,...,AL,crenshaw county,NaN,737504.0,737497.0,737500.0,737503.0,NaN,737500.0,737495.0

In [33]:
#Show COVID Training Data
y_train

       Number of Infections  Number of Deaths
43391                     4                 0
40522                     0                 0
34080                     0                 0
632                       0                 0
8915                      0                 0
...                     ...               ...
6659                      8                 0
34270                     0                 0
7267                      0                 0
21213                     0                 0
36874                     0                 0

[35347 rows x 2 columns]

In [34]:
#Show COVID Test Data
y_test

       Number of Infections  Number of Deaths
36018                     0                 0
31079                     0                 1
21481                     0                 0
45038                     0                 0
21224                     5                 0
...                     ...               ...
39795                     0                 0
4338                      0                 2
36721                     0                 0
26528                     3                 0
312                       0                 0

[11783 rows x 2 columns]

In [35]:
#Create a Model to Relate COVID Rates with Feature Data
linear_reg = LinearRegression()

In [36]:
#Convert String Values in Categorical Columns to Labels
#Found Method at https://contrib.scikit-learn.org/category_encoders/
#Create the Model(s)
glmm = ce.glmm.GLMMEncoder(verbose=0, cols=['State', 'Area_Name', 'STATE', 'AREA_NAME'], return_df=True)
#Train the Models
glmm_infections_train = glmm.fit(x_train, y_train['Number of Infections'])
glmm_deaths_train = glmm.fit(x_train, y_train['Number of Deaths'])
glmm_infections_test = glmm.fit(x_test, y_test['Number of Infections'])
glmm_deaths_test = glmm.fit(x_test, y_test['Number of Deaths'])

In [37]:
glmm

GLMMEncoder(binomial_target=None,
            cols=['State', 'Area_Name', 'STATE', 'AREA_NAME'],
            drop_invariant=False, handle_missing='value',
            handle_unknown='value', random_state=None, randomized=False,
            return_df=True, sigma=0.05, verbose=0)

In [38]:
#Transform to New Categorical Data
glmm_train_tf = glmm_infections_train.transform(x_train, y_train['Number of Infections'])
#glmm_deaths_train_tf = glmm_deaths.transform(x_train, y_train['Number of Deaths'])
glmm_test_tf = glmm_infections_train.transform(x_test, y_test['Number of Infections'])
#glmm_deaths_test_tf = glmm_deaths.transform(x_test, y_test['Number of Deaths'])

In [39]:
#Show the Transformed Data
glmm_train_tf

,FIPS,State,Area_Name,date,Rural-urban_Continuum Code_2013,Urban_Influence_Code_2013,Economic_typology_2015,POP_ESTIMATE_2018,Percent of adults with less than a high school diploma 2014-18,Percent of adults with a high school diploma only 2014-18,...,STATE,AREA_NAME,stay at home,>50 gatherings,>500 gatherings,public schools,restaurant dine-in,entertainment/gym,federal guidelines,foreign travel ban
43391,51153,-0.076380,-0.097198,2020-03-18,7.0,8.0,5.0,55286,6.8,30.1,...,-0.026310,-0.098805,737514.0,737508.0,737508.0,737500.0,737507.0,737500.0,737500.0,737495.0
40522,48357,-0.006078,-0.116849,2020-03-14,7.0,11.0,2.0,9947,24.7,31.4,...,-0.011406,-0.095144,NaN,737505.0,737498.0,737507.0,737503.0,737503.0,737500.0,737495.0
34080,42057,-0.045231,-0.123516,2020-03-01,1.0,1.0,0.0,107002,11.7,25.6,...,-0.082018,-0.103833,NaN,737507.0,737507.0,737500.0,737501.0,737501.0,737500.0,737495.0
632,1085,-0.058270,-0.121260,2020-03-03,2.0,2.0,3.0,9974,22.5,38.6,...,-0.056138,-0.101407,NaN,737504.0,737497.0,737500.0,737503.0,NaN,737500.0,737495.0
8915,16087,0.045006,0.043028,2020-03-12,3.0,2.0,5.0,167207,8.0,31.8,...,0.072663,-0.063421,737509.0,737509.0,737509.0,737507.0,737507.0,737507.0,737500.0,737495.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6659,13115,-0.100215,-0.121968,2020-03-21,3.0,2.0,0.0,97927,19.0,33.1,...,-0.085511,-0.103104,NaN,737501.0,737501.0,737502.0,737504.0,737504.0,737500.0,737495.0
34270,42081,-0.045231,-0.123516,2020-03-17,1.0,1.0,0.0,107002,11.7,25.6,...,-0.082018,-0.099765,NaN,737507.0,737507.0,737500.0,737501.0,737501.0,737500.0,737495.0
7267,13197,-0.100215,-0.123198,2020-03-14,2.0,2.0,3.0,8351,23.1,38.1,...,-0.085511,-0.104308,NaN,737501.0,737501.0,737502.0,737504.0,737504.0,737500.0,737495.0
21213,28027,-0.058604,-0.118465,2020-03-10,7.0,8.0,0.0,22628,21.3,24.5,...,-0.044232,-0.097400,NaN,737509.0,737509.0,737504.0,737509.0,737509.0,737500.0,737495.0
36874,47061,0.011209,-0.121968,2020-03-11,8.0,7.0,0.0,13346,24.3,42.1,...,0.024880,-0.102445,737515.0,737509.0,737509.0,737504.0,737507.0,737507.0,737500.0,737495.0

In [40]:
glmm_test_tf

,FIPS,State,Area_Name,date,Rural-urban_Continuum Code_2013,Urban_Influence_Code_2013,Economic_typology_2015,POP_ESTIMATE_2018,Percent of adults with less than a high school diploma 2014-18,Percent of adults with a high school diploma only 2014-18,...,STATE,AREA_NAME,stay at home,>50 gatherings,>500 gatherings,public schools,restaurant dine-in,entertainment/gym,federal guidelines,foreign travel ban
36018,46081,-0.040792,-0.123032,2020-03-10,6.0,5.0,5.0,25741,6.4,30.0,...,-0.026776,-0.104099,NaN,NaN,NaN,737500.0,NaN,NaN,737500.0,737495.0
31079,39057,0.554393,-0.017147,2020-03-21,2.0,2.0,4.0,167995,6.6,24.4,...,0.562035,-0.020009,737507.0,737499.0,737499.0,737501.0,737499.0,737506.0,737500.0,737495.0
21481,28063,-0.058604,-0.123265,2020-03-02,8.0,7.0,0.0,7106,25.2,36.1,...,-0.044232,-0.104503,NaN,737509.0,737509.0,737504.0,737509.0,737509.0,737500.0,737495.0
45038,54021,-0.076380,-0.097198,2020-03-15,7.0,8.0,5.0,55286,6.8,30.1,...,-0.079787,-0.098805,737508.0,737508.0,737508.0,737500.0,737508.0,737508.0,737500.0,737495.0
21224,28027,-0.058604,-0.118465,2020-03-21,7.0,8.0,0.0,22628,21.3,24.5,...,-0.044232,-0.097400,NaN,737509.0,737509.0,737504.0,737509.0,737509.0,737500.0,737495.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39795,48261,-0.006078,-0.118465,2020-03-01,9.0,8.0,2.0,442,66.3,21.1,...,-0.011406,-0.097400,NaN,737505.0,737498.0,737507.0,737503.0,737503.0,737500.0,737495.0
4338,8089,0.188538,1.058086,2020-03-10,6.0,6.0,0.0,18432,14.6,29.2,...,0.199131,1.062593,737510.0,737508.0,737497.0,737507.0,737504.0,737501.0,737500.0,737495.0
36721,47041,0.011209,-0.122775,2020-03-02,6.0,4.0,3.0,20138,20.1,42.2,...,0.024880,-0.103638,737515.0,737509.0,737509.0,737504.0,737507.0,737507.0,737500.0,737495.0
26528,33009,-0.090163,-0.123149,2020-03-15,3.0,2.0,4.0,55414,12.7,27.5,...,-0.061149,-0.100462,737511.0,737508.0,737508.0,737500.0,737500.0,NaN,737500.0,737495.0
312,1041,-0.058270,-0.118465,2020-03-19,8.0,6.0,3.0,13824,21.6,38.8,...,-0.056138,-0.097400,NaN,737504.0,737497.0,737500.0,737503.0,NaN,737500.0,737495.0

In [41]:
#Assign Variables for Encoded Data
x_train_enc = glmm_train_tf
x_test_enc = glmm_test_tf

In [42]:
#Convert Date Column to Numerical Type
#Did this to Enable Linear Regression Model to be Trained
#Found Method at https://stackoverflow.com/questions/60049059/python-linear-regression-typeerror-invalid-type-promotion
x_train_enc['date'] = x_train_enc['date'].map(dt.datetime.toordinal)
x_test_enc['date'] = x_test_enc['date'].map(dt.datetime.toordinal)

In [43]:
#Check to Make Sure that Date was Converted
x_train_enc

,FIPS,State,Area_Name,date,Rural-urban_Continuum Code_2013,Urban_Influence_Code_2013,Economic_typology_2015,POP_ESTIMATE_2018,Percent of adults with less than a high school diploma 2014-18,Percent of adults with a high school diploma only 2014-18,...,STATE,AREA_NAME,stay at home,>50 gatherings,>500 gatherings,public schools,restaurant dine-in,entertainment/gym,federal guidelines,foreign travel ban
43391,51153,-0.076380,-0.097198,737502,7.0,8.0,5.0,55286,6.8,30.1,...,-0.026310,-0.098805,737514.0,737508.0,737508.0,737500.0,737507.0,737500.0,737500.0,737495.0
40522,48357,-0.006078,-0.116849,737498,7.0,11.0,2.0,9947,24.7,31.4,...,-0.011406,-0.095144,NaN,737505.0,737498.0,737507.0,737503.0,737503.0,737500.0,737495.0
34080,42057,-0.045231,-0.123516,737485,1.0,1.0,0.0,107002,11.7,25.6,...,-0.082018,-0.103833,NaN,737507.0,737507.0,737500.0,737501.0,737501.0,737500.0,737495.0
632,1085,-0.058270,-0.121260,737487,2.0,2.0,3.0,9974,22.5,38.6,...,-0.056138,-0.101407,NaN,737504.0,737497.0,737500.0,737503.0,NaN,737500.0,737495.0
8915,16087,0.045006,0.043028,737496,3.0,2.0,5.0,167207,8.0,31.8,...,0.072663,-0.063421,737509.0,737509.0,737509.0,737507.0,737507.0,737507.0,737500.0,737495.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6659,13115,-0.100215,-0.121968,737505,3.0,2.0,0.0,97927,19.0,33.1,...,-0.085511,-0.103104,NaN,737501.0,737501.0,737502.0,737504.0,737504.0,737500.0,737495.0
34270,42081,-0.045231,-0.123516,737501,1.0,1.0,0.0,107002,11.7,25.6,...,-0.082018,-0.099765,NaN,737507.0,737507.0,737500.0,737501.0,737501.0,737500.0,737495.0
7267,13197,-0.100215,-0.123198,737498,2.0,2.0,3.0,8351,23.1,38.1,...,-0.085511,-0.104308,NaN,737501.0,737501.0,737502.0,737504.0,737504.0,737500.0,737495.0
21213,28027,-0.058604,-0.118465,737494,7.0,8.0,0.0,22628,21.3,24.5,...,-0.044232,-0.097400,NaN,737509.0,737509.0,737504.0,737509.0,737509.0,737500.0,737495.0
36874,47061,0.011209,-0.121968,737495,8.0,7.0,0.0,13346,24.3,42.1,...,0.024880,-0.102445,737515.0,737509.0,737509.0,737504.0,737507.0,737507.0,737500.0,737495.0

In [44]:
x_test_enc

,FIPS,State,Area_Name,date,Rural-urban_Continuum Code_2013,Urban_Influence_Code_2013,Economic_typology_2015,POP_ESTIMATE_2018,Percent of adults with less than a high school diploma 2014-18,Percent of adults with a high school diploma only 2014-18,...,STATE,AREA_NAME,stay at home,>50 gatherings,>500 gatherings,public schools,restaurant dine-in,entertainment/gym,federal guidelines,foreign travel ban
36018,46081,-0.040792,-0.123032,737494,6.0,5.0,5.0,25741,6.4,30.0,...,-0.026776,-0.104099,NaN,NaN,NaN,737500.0,NaN,NaN,737500.0,737495.0
31079,39057,0.554393,-0.017147,737505,2.0,2.0,4.0,167995,6.6,24.4,...,0.562035,-0.020009,737507.0,737499.0,737499.0,737501.0,737499.0,737506.0,737500.0,737495.0
21481,28063,-0.058604,-0.123265,737486,8.0,7.0,0.0,7106,25.2,36.1,...,-0.044232,-0.104503,NaN,737509.0,737509.0,737504.0,737509.0,737509.0,737500.0,737495.0
45038,54021,-0.076380,-0.097198,737499,7.0,8.0,5.0,55286,6.8,30.1,...,-0.079787,-0.098805,737508.0,737508.0,737508.0,737500.0,737508.0,737508.0,737500.0,737495.0
21224,28027,-0.058604,-0.118465,737505,7.0,8.0,0.0,22628,21.3,24.5,...,-0.044232,-0.097400,NaN,737509.0,737509.0,737504.0,737509.0,737509.0,737500.0,737495.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39795,48261,-0.006078,-0.118465,737485,9.0,8.0,2.0,442,66.3,21.1,...,-0.011406,-0.097400,NaN,737505.0,737498.0,737507.0,737503.0,737503.0,737500.0,737495.0
4338,8089,0.188538,1.058086,737494,6.0,6.0,0.0,18432,14.6,29.2,...,0.199131,1.062593,737510.0,737508.0,737497.0,737507.0,737504.0,737501.0,737500.0,737495.0
36721,47041,0.011209,-0.122775,737486,6.0,4.0,3.0,20138,20.1,42.2,...,0.024880,-0.103638,737515.0,737509.0,737509.0,737504.0,737507.0,737507.0,737500.0,737495.0
26528,33009,-0.090163,-0.123149,737499,3.0,2.0,4.0,55414,12.7,27.5,...,-0.061149,-0.100462,737511.0,737508.0,737508.0,737500.0,737500.0,NaN,737500.0,737495.0
312,1041,-0.058270,-0.118465,737503,8.0,6.0,3.0,13824,21.6,38.8,...,-0.056138,-0.097400,NaN,737504.0,737497.0,737500.0,737503.0,NaN,737500.0,737495.0

In [45]:
#Show that there are Null Values
len(np.isnan(x_test_enc))

11783

In [46]:
#Reshape Feature Arrays
x_train_enc_rs = x_train_enc.values.reshape(1, -1)
x_test_enc_rs = x_test_enc.values.reshape(1, -1)

In [47]:
#Import Imputer to Fill in Missing Values
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer

In [48]:
#Impute Values with Imputer Strategy
x_train_enc_imp = IterativeImputer(x_train_enc_rs, n_nearest_features=5, initial_strategy='mean')
x_train_enc_imp

IterativeImputer(add_indicator=False,
                 estimator=array([[ 5.11530000e+04, -7.63799311e-02, -9.71982291e-02, ...,
         7.37507000e+05,  7.37500000e+05,  7.37495000e+05]]),
                 imputation_order='ascending', initial_strategy='mean',
                 max_iter=10, max_value=None, min_value=None,
                 missing_values=nan, n_nearest_features=5, random_state=None,
                 sample_posterior=False, skip_complete=False, tol=0.001,
                 verbose=0)

In [49]:
x_test_enc_imp = IterativeImputer(x_test_enc_rs, n_nearest_features=5, initial_strategy='mean')
x_test_enc_imp

IterativeImputer(add_indicator=False,
                 estimator=array([[ 4.60810000e+04, -4.07924524e-02, -1.23032349e-01, ...,
                    nan,  7.37500000e+05,  7.37495000e+05]]),
                 imputation_order='ascending', initial_strategy='mean',
                 max_iter=10, max_value=None, min_value=None,
                 missing_values=nan, n_nearest_features=5, random_state=None,
                 sample_posterior=False, skip_complete=False, tol=0.001,
                 verbose=0)

In [50]:
#Train the Model to the Training Data
reg_infections = linear_reg.fit(x_train_enc_imp, y_train)

ValueError: Expected 2D array, got scalar array instead:
array=IterativeImputer(add_indicator=False,
                 estimator=array([[ 5.11530000e+04, -7.63799311e-02, -9.71982291e-02, ...,
         7.37507000e+05,  7.37500000e+05,  7.37495000e+05]]),
                 imputation_order='ascending', initial_strategy='mean',
                 max_iter=10, max_value=None, min_value=None,
                 missing_values=nan, n_nearest_features=5, random_state=None,
                 sample_posterior=False, skip_complete=False, tol=0.001,
                 verbose=0).
Reshape your data either using array.reshape(-1, 1) if your data has a single feature or array.reshape(1, -1) if it contains a single sample.